@{
    ViewBag.Title = "Home Page";
}

<div class="wrapper">

    <nav id="sidebar">

        <ul class="list-unstyled components">
            <li class="active" onclick="DisplayContent(this,true)">
                <a href="#"> <span> EM ANDAMENTO </span> </a> <span class="circulo1"> <span id="contadorAndamento">  </span> </span>
            </li>
            <li onclick="DisplayContent(this,false)">
                <a href="#"> <span> ATRASADAS </span> </a> <span class="circulo2"> <span id="contadorAtrasada">  </span> </span>
            </li>
        </ul>

    </nav>

    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-expand">

            <div class="container-fluid">

                <span class="title" id="titulo"> </span>

                <button type="button" class="btn button" id="ordena">Cadastrar</button>

            </div>

        </nav>

        <table id="idTabela" class="table"></table>

    </div>
</div>